<!-- Site Setting Panel -->
  <section id="settings" data-ng-include=" 'views/settings/settings.html' " style="display:none"></section>
<!-- Site Setting Panel End -->

<div class="page overflow np">
  <div class="col-lg-9"> </div>
  <div class="col-lg-3">
    <div class="panel panel-default mrn mb-5">
      <div class="panel-heading">
        <p class="nm">Header</p>
      </div>
      <!-- Bootstrap Simple Tab -->
      <div class="panel-body np">
        <div class="pad-10" data-slim-scroll data-scroll-height="570px"> This is the scrollable content, hover to show the scrollbar 
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          You got the bottom </div>
      </div>
      <!-- end Bootstrap Simple Tab -->
      <div class="panel-footer text-center">
        <p>Footer with fluid height</p>
        <a href="" class="btn btn-info">Button</a> </div>
    </div>
  </div>
</div>
